* {
  box-sizing: border-box;
}
body {
  background-color: rgb(10, 10, 10);
  color: white;
}
body {
  display: grid;
  place-content: center;
  min-height: 95vh;
}
.tictactoe__grid {
  place-content: center;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, minmax(50px, 250px));
}
.grid__element {
  display: grid;
  place-content: center;
  border: 3px solid rgba(0, 22, 223, 0.63);
  filter: drop-shadow(0px 0px 30px rgba(0, 22, 223, 1));
  border-radius: 1rem;
  aspect-ratio: 1/1;
  transition:
    background-color 0.15s ease-in-out,
    border-radius 0.2s ease-in-out;
}
.grid__element:hover {
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 3rem;

  cursor: pointer;
}
#element-one {
  border-left: none;
  border-top: none;
}
#element-two {
  border-top: none;
}
#element-three {
  border-right: none;
  border-top: none;
}
#element-four {
  border-left: none;
}
#element-six {
  border-right: none;
}
#element-seven {
  border-left: none;
  border-bottom: none;
}
#element-eight {
  border-bottom: none;
}
#element-nine {
  border-right: none;
  border-bottom: none;
}
.element__icon {
}
