* {
  box-sizing: border-box;
}
html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 600;
}
body {
  display: grid;
  place-content: center;
  min-height: 95vh;
  background-color: rgb(10, 10, 10);
  color: white;
}
header {
  display: grid;
  place-content: center;
}
#restart-btn {
  background: none;
  color: rgba(255, 255, 255, 0.267);
  border: none;
  font-weight: 900;
  cursor: pointer;
  transition:
    transform 0.2s ease-in,
    color 0.2s ease-in 0.2s;
}
#restart-btn:hover {
  transform: translateY(-2px);
  color: rgba(255, 255, 255, 0.658);
}
.textInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.textInfo p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tictactoe__grid {
  place-content: center;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, minmax(50px, 250px));
}
.grid__element {
  display: grid;
  user-select: none;
  place-content: center;
  border: 3px solid rgba(22, 0, 223, 0.5);
  filter: drop-shadow(0px 0px 30px rgba(0, 22, 223, 1));
  border-radius: 1rem;
  aspect-ratio: 1/1;
  transition:
    background-color 0.15s ease-in-out,
    border-radius 0.2s ease-in-out;
}
.grid__element:hover {
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 3rem;

  cursor: pointer;
}
#element-one-0 {
  border-left: none;
  border-top: none;
}
#element-two-1 {
  border-top: none;
}
#element-three-2 {
  border-right: none;
  border-top: none;
}
#element-four-3 {
  border-left: none;
}
#element-six-5 {
  border-right: none;
}
#element-seven-6 {
  border-left: none;
  border-bottom: none;
}
#element-eight-7 {
  border-bottom: none;
}
#element-nine-8 {
  border-right: none;
  border-bottom: none;
}
.grid__element:hover .element__icon img {
  transform: scale(1.5) matrix(0, 1, 1, 0, 0, 0);
}
.element__icon {
  filter: brightness(0) saturate(100%) invert(79%) sepia(88%) saturate(2836%)
    hue-rotate(83deg) brightness(107%) contrast(117%)
    drop-shadow(0px 0px 30px #00ffaa);
  width: 100px;
  transition: transform 0.3s ease-in-out;
}
.grid__element img[src*="circle"] {
  filter: brightness(0) saturate(100%) invert(56%) sepia(32%) saturate(1072%)
    hue-rotate(286deg) brightness(100%) contrast(105%)
    drop-shadow(0px 0px 30px #ff69b4);
}
.red {
  background-color: red;
}
.game__alert {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  min-height: 35px;
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.85));
  text-shadow: 0px 0px 35px rgba(255, 255, 255, 0.7);
}
