* {
  box-sizing: border-box;
}
body {
  background-color: rgb(10, 10, 10);
  color: white;
}
body {
  display: grid;
  place-content: center;
  min-height: 95vh;
}
.tictactoe__grid {
  place-content: center;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, minmax(50px, 250px));
}
.grid__element {
  display: grid;
  place-content: center;
  border: 1px solid white;
  aspect-ratio: 1/1;
}
#element-one {
  border-left: none;
  border-top: none;
}
#element-two {
  border-top: none;
}
#element-three {
  border-right: none;
  border-top: none;
}
#element-four {
  border-left: none;
}
#element-six {
  border-right: none;
}
#element-seven {
  border-left: none;
  border-bottom: none;
}
#element-eight {
  border-bottom: none;
}
#element-nine {
  border-right: none;
  border-bottom: none;
}
.element__icon {
}
